* {
    font-family: 'Seiston', sans-serif;
    letter-spacing: 1px;
    
}

html,body {
    overflow-y: scroll; 
}

body {
    background-color: #071325;
    /*background-image: url('assets/sky.jpg');*/
    color: #FFCE51;
    
}

nav a {
    text-decoration: none;
    color: #FFCE51;

}
/* mainpage */

#title {
    font-size: 128px;
    display: flex;
    justify-content: center;
    margin-top: 10%;

}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 15px;
    margin-top: 15px; */
    margin-right:15px;
    font-size: 24px;
    position: fixed;
    top:0;
}

.navbtn {
    margin: 15px;
}


#arrow {
    display: flex;
    justify-content: center;
}

#startButton, #shareButton, #againButton {      /* class not working */
    font-family: 'Abhaya Libre SemiBold', sans-serif;  
    font-size: 24px;
    padding:16px 14px 12px 14px;
    border: none;
    border-radius: 8px;
    color: #071325;   
}

#startButton, #shareButton {
    background-color: #F6B100;  
}

#startButton:hover, #shareButton:hover {
    background-color: #FFE5A1;
}

#againButton {
    background-color:#ADD7FF;
}

#againButton:hover {
    background-color:#5EA8FF;
}


.btn {
    display: flex;
    justify-content: center;
    margin: 2%;
}


/* description */
.header {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.bodyPara {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 24px;   
    line-height: 130%;
}




/* disclaimer */
.reference a {
    color: #FFCE51;
}

/* answer */
#twobtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



#answerPaper {
    display: flex;
    justify-content: center;
}

#answerImg {

}

